
  .app-body{
    padding-bottom: 2.5rem;
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
  }
  .login-body, .signup-body{
    position: relative;
    min-height: 100vh;
    background-color: #EEEEEE;
  }

.btn:focus {
    outline: none;
  }
  .shop-image{
    width: 100%;
  max-width: 400px;
  height: 35vh;
  object-fit: cover;
}
.navbar{
  background-color: #271751;
  font-size: 1.1rem;
  
}
.login{
  color:  #271751;
}
.signup-link{
  color:  #EA5753;
}
.sub-btn{
  color:  #271751;
}
.sub-btn:hover{
  background-color:  #271751;
}
.sub-btn:focus{
  background-color:  #271751;
}
a.nav-link, p.color-text{
  color:  #EEEEEE;
  padding-top: .7rem;
  
}
p.color-text:hover, a.nav-link:hover, li.dropdown-item:hover{
  color:#FFB88E;
  background-color:  #271751;
}
ul.dropdown-menu.me-2.show:hover{
  background-color:  #271751;
}
.dd2{
  margin-left: 66vw;
}
a.nav-link.signup-btn{
  background-color: #EA5753;
  border: 2px solid #EA5753;
  border-radius: 30px;
  width: 10vw;
  text-align: center;
  color: #271751;
  
}
a.nav-link.signup-btn:hover{
  background-color: #EEEEEE;
  color: #EA5753;
  border: none;
}
.toggler{
  color:  #EA5753;
}
p.login-text{
  padding-top:.2rem;
}
p.login-text:hover{
color: #EA5753;
}
input.form-control{
  background-color: #EEEEEE;
  border: 1px solid #271751;
}
ul.dropdown-menu.me-2{
  background-color: #271751;
  color:  #EEEEEE;
  
}
a.nav-link.dropdown-toggle.greeting-btn{
  background-color: #EA5753;
  border: 2px solid #EA5753;
  border-radius: 30px;
  width: 15vw;
  text-align: center;
  color: #271751;
  font-weight: bold;
  
}

a.nav-link.dropdown-toggle.greeting-btn span{
  opacity:0;
  
}

a.nav-link.dropdown-toggle.greeting-btn:hover{
  background-color: #EEEEEE;
  color: #EA5753;
  border: none;
 
}


@media only screen and (max-width: 1300px){
  a.nav-link.signup-btn{
    width: 8.5vw;
  }
  a.nav-link.dropdown-toggle.greeting-btn{
    width: 14vw;
  }
}
@media only screen and (max-width: 990px){
 
  a.nav-link.dropdown-toggle.greeting-btn{
    margin-right: 100vw;
    width: 30vw;
  }
  a.nav-link.signup-btn{
    width:15vw;
   
  }
  a.nav-link, p.color-text{
    
    padding-top: 0;
    
  }
}
