body{
  font-family: 'Poppins', sans-serif;
   
  }
  
   .status{
    font-weight: medium;
    font-size: .9rem;
    color: #EA5753;
   }
  
   audio::-webkit-media-controls-panel{
    background-color: #EEEEEE;
    
   }
  .btn{
    color: #271751;
  }
  .purp-btn{
    background-color: #271751;
  }

   .profile-audio-title{
    background-color:  #271751;
    height: 1.5rem;
    color:  #EEEEEE;
    font-weight: bold;
    border: solid 2px  #271751;
    border-radius: 3px;
   }

   .recordalert{
    height: 3rem;
   }

.effects{
  width: 55vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid #271751;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 2rem;
}
.effects h6{
  font-weight: bold;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8.6rem;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(45deg, #EA5753, rgb(56, 15, 192));
  height: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color:#271751;
  border: 2px solid #271751;
  height: 2rem;
  width: 1rem;    
}
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #271751;
  outline: 3px solid#271751;
  outline-offset: 0.125rem;
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(25, 1, 102)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

  
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(25, 1, 102)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 
 }
 /* button.carousel-control-prev{
  position: relative;
  left: -120px;
  top: -50px;
 }
 button.carousel-control-next{
  position: relative;
  right: -740px;
  top: -88px;
 } */

 button.carousel-control-next, button.carousel-control-prev{
  height: 2rem;
  position: relative;


 }
 button.carousel-control-next{
  top: -12vh;
  left:75vw;
 }
 button.carousel-control-prev{
  top: 15vh;
  left:10vw;
 }
.pg1, .pg2{
  display: flex;
  flex-wrap: nowrap;
} 
@media only screen and (max-width: 1260px){
  .pg1, .pg2{
    display: flex;
    flex-wrap:wrap;
  } 
  div.pg1{
    margin-left: 10vh;
   }
}
@media only screen and (max-width: 1150px){
 
  div.pg1{
   margin-left: 6vh;
  }
}
@media only screen and (max-width: 1050px){
 
  div.pg1{
   margin-left: 8vh;
  }
}
@media only screen and (max-width: 946px){
 
  div.pg1{
   margin-left: 10vh;
  }
}
@media only screen and (max-width: 900px){
 
  div.pg1{
   margin-left: 4vh;
  }
}