.copyright{
    background-color:#271751;
  }
  footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:#271751 ;
    height: 2.5rem;
   
  }
  .light-color{
    color: #EEEEEE
  }
  .red-color{
    color: #EA5753;
  }