.profile-btn{
    height:2.5rem;
}

.card-btns{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 768px){
    .card-btns{
        flex-wrap: wrap;
    }
}

button.btn.btn-outline-primary.mx-3:hover{
    background-color:rgb(25, 1, 102);
     
     color:rgb(240, 241, 241);
   }
button.btn.btn-dark.profile-btn{
    background-color:#683066;
     
     color:rgb(240, 241, 241);
   }

   button.btn.btn-dark.profile-btn:hover{
    color:#683066;
     
    background-color:rgb(240, 241, 241);
   }